html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

h1 {
  color: red;
  text-transform: capitalize;
  background-color: bisque;
}

div > p {
  color: blue;
  font-size: 2rem;
}
